# Streamlit App URLs
STREAMLIT_VAXIJEN_URL=https://antigenicity.streamlit.app
STREAMLIT_IMMUNO_URL=https://immunogenicity.streamlit.app
STREAMLIT_ALLERTOP_URL=https://allergenicity.streamlit.app
STREAMLIT_TOXINPRED_URL=https://toxicities.streamlit.app
STREAMLIT_POPCOVERAGE_URL=https://popcoverage.streamlit.app
